<%- include('header.ejs',  {navbar: 'Login', link: ''}) -%> 
    <div class="container mt-5">
        <div id="card" class="offset-2 col-8 card p-1 pt-5 pb-5 p-md-5 shadow d-flex align-items-center">
            <div class="mt-5"> 
              <a id="teacher_login" href="/teacherlogin/" class="btn btn-secondary btn-custom-lg"><i class="fas fa-chalkboard-teacher"></i><span class="space">Teacher Sign in</span></a>
            </div>
            <div class="mt-5 mb-5"> 
              <a id="student_login" href="/studentlogin/" class="btn btn-secondary btn-custom-lg"><i class="fas fa-user-graduate"></i><span class="space">Student Sign in</span></a>
            </div>
        </div>
    </div>
<%- include('footer.ejs') -%> 