<%- include('header.ejs',  {navbar: 'Login', hamburger: false, link: '/'}) -%> 
    <div class="container">
        <div class="offset-2 col-8 card p-1 pt-5 pb-5 p-md-5 shadow ">
            <div class="p-2 mb-3 text-center">
                <% if(who === 'teacher') { %> 
                <h1>Teacher Login</h1>
                <% } else { %>
                <h1>Student Login</h1>
                <% } %> 
            </div>
            <form method="POST" 
                <% if(who === 'teacher') { %> 
                    action="/teacherlogin/">
                <% } else {%>
                    action="/studentlogin/"> 
                <% } %> 
                <div class="mb-3 col-8 col-md-6 form-group offset-2 offset-md-3">
                  <% if(who === 'teacher') { %> 
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username">
                  <% } else {%>
                    <label for="studentid" class="form-label">StudentID</label>
                    <input type="text" class="form-control" id="studentid" name="studentid">
                  <% } %> 
                  </div>
                  <div class="mb-3 col-8 col-md-6 offset-2 offset-md-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                  </div>
                  <% if(typeof errorlogin !== 'undefined') { %>
                  <div class="form-group col-8 offset-2 col-lg-4 offset-lg-4 text-center p-1 error-login">
                    <span class="error">Invalid username or password, for testing try admin/admin</span>
                  </div>
                  <% } %>  
                  <div class="col-12 text-center mt-3">
                    <input type="submit" class="btn btn-primary" value="Submit">
                  </div> 
            </form>
        </div>
    </div>
<%- include('footer.ejs') -%> 