<form id="myclassform" method="post" class="row">
    <input type="text" class="form-control" id="classname" name="classname"
           value="<%= (typeof myclass === 'undefined') ? 'MyClass' : myclass.name %>">
</form>
