<a id="editmyclass" onclick="editmyclass()" class="toright add-size"><i class="fas fa-pencil-alt fa-lg"></i></a>
<% if(typeof myclass === 'undefined') { %>
    <h1 class="card-title">MyClass</h1>
<% } else { %>
    <h1 class="card-title"><%= myclass.name %></h1>
<% } %>
<div class="card-body p-0 pt-3 mt-2">
    <div class="d-inline-flex bd-highlight me-5"><span>
            <% if(typeof myclass === 'undefined') { %> xxxx-xxxx
            <% } else { %> <%= myclass.startyear %> - <%= myclass.finishyear%>
            <% } %>
        </span><span class="space">valami</span></div>
</div>