
html {
    position: relative;
    min-height: 100vh;
}
body {
    margin-bottom: 1.2em;
    background-color: whitesmoke;
}
.card{
    border-radius: 0.65em !important;
}
.space{
    display: inline-block;
    margin-left: 0.95em;
}
.centering{
    position: relative;
}
.centered{
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}
.minheight{
    min-height: 19em;
}
.link{
    position: relative;
}
.link-spanner{
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
}
.overlink{
    position: relative;
    z-index: 2;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1.2em;
    line-height: 1.2em;
    background-color:black;
    margin-top: 5em;
}
.white-color{
    color: white;
    font-size: 0.75em;
}
tr{
    text-align: center;
    outline: black solid 1px;
}
thead tr{
    outline:0pt;
}
th{
    color: white;
    background:black !important
} 
.table{
    border-collapse: separate;
    border-spacing: 0em 1em;
}
a.modify{
    display: inline-block;
    padding-right: 1em;
}
a.remove{
    color:red;
}
a.remove :hover{
    color:rgb(197, 2, 2);
}
td.td-narrow{
    width: 5em;
}

.tablefixhead{
    overflow-y: auto;
    max-height: 35em;
}
.tablefixhead thead th { 
    position: sticky;
    top: 0; 
}
a.size{
    font-size: large;
}
a.add-size{
    font-size: 2.5em;
}
@media 
only screen and (max-width: 760px) {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		display: none;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
        display: flex;
	}
	
	td:before { 
        text-align: start;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	td.td-narrow{
        padding-left: 50%;
       align-items: center;
        justify-content: center;
    }
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "Task"; font-weight: bold;}
	td:nth-of-type(2):before { content: "Point"; font-weight: bold;}
	td:nth-of-type(3):before { content: "Date"; font-weight: bold;}
	td:nth-of-type(4):before { content: "Description"; font-weight: bold;}
}
